body{
    background-color: #EFAEB7;
    background-image: url("Images/jane.PNG") ;
    background-size: 42em, 42em;
    background-repeat: no-repeat;
    background-position: 56em 1.3em;
    backface-visibility: visible;
    justify-content: flex-start;
    position: fixed;
}
.main {
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    gap: 1em;
    margin: 1em 2em;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 7em;
}
a{
    font-weight: bold;
    text-shadow: 1px 1px white;
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover {
    text-decoration: underline;
    text-transform: uppercase;
    color: white;
}
.text{
    font-size: 5em;
    font-weight: 30em;
    margin-top: 5em;
    margin-left: 1em;
    color: #37588C;
    position: fixed;
    visibility:visible;
    text-shadow: 5px 5px white;
}
.tree{  
    margin-left: 2.5em;
    margin-top: 12em;  
}
.tree img{
    width: 22em;
    height:auto;
}

